<div class="box notification-content">

	<form novalidate #myForm="ngForm">
		<kendo-grid [data]="manage" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [pageable]="true" [scrollable]="'none'"
		 [sortable]="false" (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
		 (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)">

			<ng-template kendoGridToolbarTemplate>
				<button kendoGridAddCommand type="button">Add new</button>
				<button kendoButton (click)="deletePreDefine()" type="button">Delete</button>
			</ng-template>
			<kendo-grid-column width="50">
				<ng-template kendoGridCellTemplate let-dataItem="dataItem">
					<div class="inline_checkbox">
						<input [checked]="checkNew" [(ngModel)]="dataItem.check" kendoGridFocusable (change)="checkChange($event, dataItem)" kendoGridFocusable
						 name="ProductName" type="checkbox" />
					</div>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column field="details" title="Details" width="300">
				<ng-template kendoGridCellTemplate let-dataItem="dataItem">
				
					<span>{{dataItem.details}}</span>
				</ng-template>
				<ng-template kendoGridEditTemplate let-dataItem="dataItem">
					<input [(ngModel)]="dataItem.details" kendoGridFocusable name="Details" class="k-textbox" [disabled]="editable" required/>
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-column field="constraints" title="Constraints (Max : 480 Characters)">
				<ng-template kendoGridEditTemplate let-dataItem="dataItem">
					<textarea #DescriptionCount maxlength="480" [(ngModel)]="dataItem.constraints" kendoGridFocusable name="Constraints" class="k-textbox" required> </textarea>
					<span class="count-text"> {{480 - DescriptionCount.value?.length}} left </span>
				
				</ng-template>
			</kendo-grid-column>
			<kendo-grid-command-column title="Action" width="100">
				<ng-template kendoGridCellTemplate let-isNew="isNew">
					<button kendoGridEditCommand type="button" class="k-primary">
						<i class="fa fa-edit"></i>
					</button>
					<button kendoGridRemoveCommand type="button">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
					<button kendoGridSaveCommand type="button" [disabled]="myForm.invalid">
						<i *ngIf="!isNew" class="fa fa-paper-plane"></i>
						<i *ngIf="isNew" class="fa fa-paper-plane"></i>
					</button>
					<button kendoGridCancelCommand type="button">
						<i class="fa fa-times"></i>
					</button>
				</ng-template>
			</kendo-grid-command-column>
		</kendo-grid>
	</form>
	<kendo-dialog title="Alert" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
		<div style="width: 180px; margin: 30px auto;">
			<span style="float: left;">
				<i class="fa fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
			</span>
			<p style="padding-top: 10px; float: left;">Confirm Deletion</p>
		</div>
		<kendo-dialog-actions>
			<button kendoButton (click)="close('yes')" primary="true">Yes</button>
			<button kendoButton (click)="close('no')">No</button>
		</kendo-dialog-actions>
	</kendo-dialog>
	<div kendoDialogContainer></div>
</div>